<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TP judo (servlets et JSP)</display-name>
  <welcome-file-list>
    <welcome-file>action</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <description></description>
    <param-name>club_name</param-name>
    <param-value>Judo Club des Bras Cassés</param-value>
  </context-param>
  <context-param>
    <description></description>
    <param-name>club_logo</param-name>
    <param-value>/img/judo3.gif</param-value>
  </context-param>
  <servlet>
    <description>Mise en forme de la page a afficher (TEMPLATE/VUE)</description>
    <display-name>Template de la vue </display-name>
    <servlet-name>template</servlet-name>
    <jsp-file>/WEB-INF/jsp/template.jsp</jsp-file>
  </servlet>
</web-app>